.container {
    padding: 1rem;
    max-width: $max-width;
    margin: 0 auto;

    @media (min-width: $mobile-breakpoint) {
	padding: 1rem 4rem;
    }

    .title {
    }

    .subtitle {
	color: darken($color, 25);
    }

    .resume {
	@extend h4;
	margin-top: .5rem;
    }

    .title, .subtitle, .resume {
	display: block;
	text-align: center;
	@media (min-width: $mobile-breakpoint) {
	    text-align: left;
	}
    }
}
